body {
  font-family: "Montserrat", sans-serif;
}

.navbar {
  z-index: 5;
  padding-top: 20px;
}

.navbar a {
  color: white;
  font-size: 13px;
  letter-spacing: 1px;
}

.navbar.change {
  background-color: black;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  border-bottom: white 0.7px solid;
}

.navbar .navbar-brand {
  font-weight: bold;
  font-size: 20px;
}

.navbar .navbar-brand span {
  color: #ffab2d;
}

.navbar .navbar-nav a {
  margin-left: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: light;
}

.navbar .navbar-nav :hover {
  color: #ffab2d;
}

#banner {
  background-image: url("/frontend/images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 106vh;
  margin-top: -30px;
  z-index: 4;
  position: relative;
}

#banner img {
  width: 340px;
  z-index: 11;
  margin-left: 50px;
  margin-top: -30px;
  position: relative;
}

#banner .row {
  padding-top: 170px;
  position: relative;
  z-index: 12;
}

#banner h1 {
  font-weight: bold;
  line-height: 60px;
  z-index: 10;
  font-size: 43px;
  text-shadow: 0px 3px 5px black !important;
}

#banner span {
  color: #ffab2d;
}

#banner p {
  font-weight: lighter;
  letter-spacing: 1px;
  padding-top: 10px;
  line-height: 26px;
  padding-bottom: 10px;
  font-size: 14px;
  padding-right: 100px;
}

#banner .btn {
  background-color: #ffab2d;
  color: black;
  font-weight: bold;
  border-radius: 0px !important;
  padding: 10px 30px;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#banner .btn:hover {
  -webkit-box-shadow: 0px 0px 10px #ffab2d !important;
          box-shadow: 0px 0px 10px #ffab2d !important;
}

#banner .overlay {
  background-color: black;
  opacity: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#service-section {
  padding-bottom: 50px;
  background-color: #000000;
  padding-top: 50px;
}

#service-section .service .content img {
  width: 70px;
}

#service-section .service .content p {
  padding-top: 20px;
}

#product-type {
  background-color: #14171a;
  padding-top: px;
  padding-bottom: 100px;
}

#product-type h5 {
  color: #ffab2d;
}

#product-type .content .judul h1 {
  color: #ffab2d;
  text-align: center;
  padding: 100px 0px;
}

#product-type .content .section-product-category .card-product-category {
  min-height: 380px;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
  background-color: black;
}

#product-type .content .section-product-category .product-button .btn {
  background-color: black;
  border: #ffab2d 1px solid !important;
  border-radius: 16px;
  padding: 7px 35px;
  cursor: pointer;
  font-weight: bold;
  color: white !important;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#product-type .content .section-product-category .product-button .btn:hover {
  background-color: #ffab2d;
  color: black !important;
}

#brand {
  background-image: url(/frontend//images/1.jpg);
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 50px;
  background-attachment: fixed;
  position: relative;
  padding: 50px 30px;
}

#brand img {
  width: 200px;
  z-index: 2;
  position: relative;
}

#brand .nature img {
  width: 150px;
  margin-top: -30px;
}

#brand .eiger {
  width: 150px;
  min-width: 200px;
}

#brand .consina {
  width: 150px;
  margin-top: 20px;
}

#brand .cozmeed {
  width: 150px;
  margin-top: 20px;
}

#brand .overlay {
  background-color: black;
  opacity: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.testimoni {
  background-color: black;
  height: 100vh;
}

#news {
  background-color: #14171a;
  padding: 100px;
}

#news .card .card-body {
  background-color: black !important;
  color: white;
}

#news .card .card-body .btn {
  width: 100%;
  background-color: #ffab2d;
  color: black;
  border: none;
  font-weight: bold;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#news .card .card-body .btn:hover {
  background-color: white;
}

#news .card {
  border: 0px;
}

#footer {
  background-color: black;
  color: white;
  padding: 50px;
}

#footer .kiri p {
  padding-top: 15px;
}

#footer .kiri p span {
  color: #ffab2d;
}

#footer .icon {
  padding: 0px 60px;
}

#footer .icon img {
  width: 22px;
}

#footer .icon ul li {
  display: inline-block;
  padding-left: 20px;
}

#footer .link {
  padding-left: 60px;
}

#footer .link ul li {
  display: inline-block;
  padding-left: 20px;
}

#footer .link ul li a {
  color: white;
  text-decoration: none;
}

#footer .link ul li a:hover {
  color: #ffab2d;
}

.banner-category {
  background-size: cover;
  margin-top: 100px;
  padding: 100px;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.banner-category h1 {
  z-index: 3;
  position: relative;
}

.banner-category .overlay {
  background-color: black;
  opacity: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#category-product .content-category-product {
  margin-top: 50px;
}

#category-product .dropdown .btn-group button {
  background-color: none !important;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#category-product .dropdown .btn-group button:hover {
  background-color: #ffab2d !important;
  color: white;
  border: none;
}

#category-product .content-category-product .figure h5 {
  color: #171717;
  padding-top: 20px;
}

#category-product .content-category-product .product {
  margin-left: 20px;
}

#category-product .content-category-product .bungkus {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 40px 20px;
  position: relative;
}

#category-product .content-category-product .bungkus .img-product img {
  width: 150px !important;
}

#category-product .content-category-product .bungkus a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  border-radius: 10px;
  height: 100%;
}

#category-product .content-category-product .bungkus:hover a {
  opacity: 1;
}

#category-product .content-category-product .brand-category ul li {
  list-style: none;
}

#category-product .content-category-product .brand {
  position: relative;
}

#category-product .content-category-product .brand .nama-brand {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  bottom: 8px;
  border-radius: 7px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
}

#category-product .content-category-product .brand .nama-brand img {
  width: 50%;
  height: 17px;
}

#category-product .content-category-product .brand .nama-brand:hover {
  opacity: 1;
  background-color: #ffab2d;
  height: 100%;
  width: 100%;
}

#single-product .btn-product {
  margin: 50px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #EAEAEF;
}

#single-product figure {
  margin-top: 100px;
}

#single-product .figure-img {
  background-color: #F5F2F2;
}

#single-product .figure-caption img {
  width: 80px;
}

#single-product .product-thumbnail-container {
  background-color: white;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 360px;
  padding: 8px;
  margin: auto;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

#single-product .btn-product .cart {
  display: block;
  width: 50%;
  margin: 10px 0;
}

#single-product .btn-product .wishlist {
  width: 50%;
  display: block;
  margin: 10px 0;
}
/*# sourceMappingURL=main.css.map */